<div class="w-full h-full relative flex flex-col items-center">
    <div class="w-full h-full flex items-start justify-center py-2 overflow-scroll">
            <app-chat class="w-full max-w-3xl pb-32"></app-chat>
    </div>
    <div class="absolute h-32 w-full bottom-0 max-w-3xl z-20">
        <div class="w-full h-full flex items-center justify-center">
            <form [formGroup]="chatForm" class="relative w-full flex items-center" (submit)="sendMessage()">
                <textarea formControlName="message" input="text" name="message" class="text-area w-full rounded-md text-md px-4 py-4" rows="1"></textarea>
                <button class="button-primary absolute right-2 z-10 flex items-center justify-center px-1 py-1 rounded-md cursor-pointer">
                    <mat-icon class="scale-90">send</mat-icon>
                </button>
            </form>
        </div>
    </div>
</div>